/*Importera typsnitt från google fonts*/
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Six+Caps");

/*Generella inställningar*/
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

section,
footer {
  width: 100%;
}

/*Typsnitt mm för rubriker*/
h1,
h2,
h3 {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

/*Typsnitt mm för annan text*/
p,
q,
a,
label,
li,
input,
input[type="submit"],
textarea {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

/*Stätter en min width på 320px för det är den minsta bredden jag
  testat för under utvecklingen. Detta motsvarar en Iphone 5 */
body {
  min-width: 320px;
  min-height: 320px;
  width: 100%;
}

/*Styling av oordnade listor*/
ul {
  list-style-type: none;
  width: 100%;
  margin-top: 0.5rem;
}

ul li {
  width: 100%;
  margin-top: 0.5rem;
}

/*  Headern innehåller en Logotyp och menyknapp/meny. Denna får
    position fixed och höjt z-index för att alltid ligga över sidinnehållet.
    Eftersom detta är för
*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95); /*Använder rgba här för att få lite opacitet*/
  z-index: 2;
  color: rgb(168, 36, 58);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

/*Styling av Logotypexempel*/
header h2 {
  margin-left: 1rem;
  flex: 1 1 50%;
}

header h2,
header h2 span {
  font-size: 2rem;
}

/*Menyknapp*/
.menu-button {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(168, 36, 58);
  text-decoration: none;
  padding: 0 1rem;
}

/* 
  Meny
  På små enheter används absolutpositionering för att placera navmenyn off-canvas.
  Menyn får även högst z-index så att den ligger överst.
  Animeringen görs med CSS-transition. Jag satte även overflow-y till scroll
  och använde -webkit prefixet för att lösa scrollningsproblem på Iphone eftersom
  det inte gick att scrolla menyn annars.
*/
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: -210vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  z-index: 999;
  /*Animering*/
  transition: left 0.5s ease, box-shadow 0.5s ease;
  -webkit-transition: left 0.5s ease, box-shadow 0.5s ease;
  -moz-transition: left 0.5s ease, box-shadow 0.5s ease;
  -ms-transition: left 0.5s ease, box-shadow 0.5s ease;
  -o-transition: left 0.5s ease, box-shadow 0.5s ease;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/*Styling av menylänkar*/
nav a,
nav a:visited {
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(168, 36, 58);
  padding: 2% 0;
}

/*Ändra utseende på länkar när de har fokus eller vid hover*/
nav a:hover,
nav a:focus,
.menu-button:focus,
.menu-button:hover {
  background-color: rgb(205, 230, 245);
  color: rgb(255, 255, 255);
}

/*Styling av det spanelement (font awesome) som ritar
  hamburgermeny och krysset för stängknappen.
*/
#menu-close span,
.menu-button span {
  font-size: 2rem;
}

/*Absolut postitionering av meny-stängningsknappen*/
#menu-close {
  width: 15%;
  position: absolute;
  right: 2%;
  top: 1vh;
}

/**/
nav:target {
  top:0;
  left: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(205, 230, 245);
}
/*Denna sektion visas när man landar på sidan. Elementets höjd 
  sattes lite större än 100vh för att det skulle fungera om sidan
  visades i landskapsläge på mobilen.
*/
section.start {
  width: 100%;
  height: 125vh;
  background-image: url(../images/adorable-animal-breed-1805164-sm.jpg);
  background-size: cover;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  text-align: center;
}

/*Startsektionens rubrik*/
section.start h1 {
  margin-top: 60vh;
  color: #554640;
  font-size: 2rem;
  line-height: 1;
}

/*Dagisets namn i rubriken*/
section.start h1 span {
  color: rgb(247, 178, 189);
  text-shadow: 2px 2px rgb(85, 70, 64);
  font-size: 3.5rem;
}

/* Här använder jag before och after för att skapa de horisontella
 avdelarna*/
section.start h1::before,
section.start h1::after {
  display: block;
  margin: 0.45rem auto;
  width: 6rem;
  content: "";
  border-bottom: solid 1px rgb(85, 70, 64);
}

/*Knapp som länkar till nästa sektion mest för att antyda att
det finns mer innehåll nedanför startbilden.*/
section.start a {
  display: inline-block;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(85, 70, 64);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  color: rgb(85, 70, 64);
  text-decoration: none;
}

/*Sektionen med bilder vid sidan. Tänkt att fungera som en
  del där man kan dela med sig av omdömen /rescensioner från kunder. 
*/
section.sellingpoint {
  display: flex;
  height: auto;
}

/*Kolumnerna med bilder*/
div.left-col,
div.right-col {
  flex: 2;
  background-color: rgb(205, 230, 245);
}

div.left-col {
  background-image: url(../images/adorable-animal-blur-533118-sm.jpg);
  background-size: cover;
  background-position-x: 25%;
  background-color: rgb(205, 230, 245);
  background-repeat: no-repeat;
}

/*Kolumnen med text*/
div.center-col {
  flex: 3;
  background-color: rgb(85, 70, 64);
  padding: 1rem 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div.right-col {
  background-image: url(../images/animal-canine-cute-1493110-sm.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-color: rgb(205, 230, 245);
  background-repeat: no-repeat;
}

section.sellingpoint h2 {
  font-size: 2rem;
  color: rgb(205, 230, 245);
}

.sellingpoint h2::after {
  display: block;
  content: "";
  margin: 1rem auto 1rem auto;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 6rem;
}

.sellingpoint p,
.sellingpoint q {
  font-size: 0.8rem;
  margin: 0.2rem 0;
  color: rgba(255, 255, 255, 0.95);
}

.sellingpoint p:after {
  display: block;
  content: "";
  margin: 1rem auto 1rem auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.95);
  width: 6rem;
}

.sellingpoint q:nth-child(3n-1),
.sellingpoint p:nth-child(3n) {
  visibility: hidden;
  height: 1px;
}

section.style-one,
section.style-two,
section.style-contact,
section.services,
section.gallery {
  padding: 5% 10%;
  min-height: 100vh;
  height: auto;
}

section.style-one p,
section.style-two p{
  margin-top: 1rem;
}

.style-one,
.style-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;	
  color:rgb(84,73,68);
  background-color: rgb(250, 250, 250);
}

.style-two,
.style-contact,
.services {
  background-color: 	rgb(65,91,113);
  color: rgba(255, 255, 255, 0.95);
}

/*Textstil (Rubrik) för klasserna stil 1 och 2*/
.style-one h2 {
  margin-left: 5%;
  font-size: 2rem;
  line-height: 1.2;
  text-shadow: 1px 1px rgb(85, 70, 64);
  color: rgb(247, 178, 189);
  flex: 2;
  max-width: 50%;
  min-width: 50%;
}
/*Styling av bakgrundsbild på div element i style-one*/
.style-one div {
  width: 45vw;
  height: 45vw;
  flex: 1;
  min-width: 45%;
  max-width: 50%;
  border: solid 0.5rem rgb(205, 230, 245);
  background-image: url(../images/animal-animal-photography-beagle-813467_sm.jpg);
  background-size: cover;
  background-position-x: 70%;
  background-color: rgb(205, 230, 245);
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

/*Styling av bakgrundsbild för galleriet*/
.gallery .style-one div {
  background-image: url(../images/animal-brown-close-up-1438798-sm.jpg);
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
}

/*Styling av bakgrundsbild för en dag på dagis sektionen*/
#one_day.style-one div {
  background-image: url(../images/animal-blur-close-up-1035365-sm.jpg);
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
}

/*Stil 2- För denna stil ändras ordningen på de olika delarna*/
.style-two h2 {
  order: 1;
  font-size: 2rem;
  margin-right: 5%;
  line-height: 1.2;
  text-shadow: 1px 1px rgb(85, 70, 64);
  color: rgb(247, 178, 189);
  max-width: 50%;
  min-width: 50%;
  flex:2;
  text-align: right;
}

/*Bakgrundsbild på style-two div*/
.style-two div {
  width: 45vw;
  height: 45vw;
  flex: 1;
  max-width: 50%;
  min-width: 45%;
  background-color: rgb(205, 230, 245);
  border: solid 0.5rem rgb(205, 230, 245);
  order: 2;
  background-image: url(../images/adorable-animals-belgian-malinois-1633522-sm.jpg);
  background-size: cover;
  background-position-x: 30%;
  background-repeat: no-repeat;
  border: solid 0.5rem rgb(205, 230, 245);
}

.style-two p {
  order: 3;
}
.style-two ul {
  order: 4;
}

/*Styling av div i området med kontaktformuläret*/
.style-contact div {
  width: 45vw;
  height: 45vw;
  flex: 1;
  max-width: 50%;
  background-color: rgb(205, 230, 245);
  border: solid 0.5rem rgb(205, 230, 245);
  background-image: url(../images/animal-cane-corso-canine-52997-sm.jpg);
  background-size: cover;
  background-position-x: 25%;
  background-repeat: no-repeat;
  border: solid 0.5rem rgb(205, 230, 245);
  /*Nollställ rotationen från style-one*/
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.style-contact h2 {
  flex: 2;
  max-width: 50%;
  margin-left: 5%;

}

/*Styling av kontaktformulär*/
.style-contact form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 100%;
}

.style-contact p,
.style-contact form {
  margin-bottom: 0.5rem;
}

.style-contact form label {
  padding: 0.5rem 0;
  width: 25%;
}

.style-contact form input[type="text"],
.style-contact form input[type="email"],
.style-contact form input[type="submit"] {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 75%;
  border: none;
}
.style-contact form input[type="submit"] {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 25%;
  border: none;
  align-self: flex-end;
}

.style-contact form textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
}

.style-contact form input[type="submit"] {
  margin-top: 0.25rem;
  background-color: rgb(141, 167, 190);
  color: rgba(255, 255, 255, 0.95);
  border: solid 1px rgba(255, 255, 255, 0.95);
  padding: 0.5rem;
}

/*Services/Tjänster styling*/
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: 	rgb(65,91,113);
  color: rgba(255, 255, 255, 0.95);
}

.services article {
 width: 100%;
 padding: 0 2%;
 display: flex;
 flex-wrap: wrap;
}

.services .style-two {
  width: 100%;
}

.services article h3 {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.services article span {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

/*Foto-Galleri*/
section.gallery {
  padding: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(250, 250, 250);
  color:rgb(84,73,68);
}

.gallery div,
.gallery h3 {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}

.gallery h3 {
  text-align: center;
}

.gallery h3 a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.gallery.thumbnail {
  width: 100%;
}

/*Objekt fit gör att man kan manipulera bilder på ett sätt som 
 liknar CSS-background*/
.gallery .thumbnail img {
  display: block;
  max-width: 100%;
  width: 100%;
  border: 0.3rem solid rgb(255, 255, 255);
  height: 40vh;
  object-fit: cover;
  object-position: 50% 50%;
}

/*Styling av Sidfot*/
footer {
  background: rgb(85, 70, 64);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

footer section {
  width: 100%;
  text-align: center;
}

footer section h2 {
  color: rgb(205, 230, 245);
}

footer section h2::after {
  display: block;
  content: "";
  margin: 1rem auto;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 6rem;
}

footer section::after {
  display: block;
  content: "";
  margin: 1.2rem auto;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 6rem;
}
footer h2 span {
  font-size: inherit;
}

footer::before,
footer::after {
  display: block;
  content: "";
  height: 5vh;
}

#map-location {
  margin-top: 1rem;
  display: inline-block;
  max-width: 75%;
}

/*Fix för en bugg som inte visar hela menyn i landskapsläge*/
@media all and (max-height: 420px){
  nav a{
    padding: 0;
    margin-bottom: 1%;
  }

}

/*Mindre Ändringar av textstorlek m.m. för skärmar 420-599px*/
@media all and (min-width: 420px) and (max-width: 599px) {
  section.start h1 {
    margin-top: 60vh;
  }
  section.start h1 span {
    font-size: 4.5rem;
  }
  .style-one h2,
  .style-two h2 {
    font-size: 4rem;
  }

  section.sellingpoint h2 {
    font-size: 3rem;
  }

  .services article {
    max-width: 70%;
  }
}

/*Mindre Ändringar av textstorlek m.m. för skärmar 620-699px*/
@media all and (min-width: 600px) and (max-width: 699px) {
  section.start h1 {
    margin-top: 60vh;
  }
  section.start h1 span {
    font-size: 4.5rem;
  }

  section.sellingpoint h2 {
    font-size: 3.5rem;
  }

  .services article {
    max-width: 75%;
  }

  .style-one h2,
  .style-two h2 {
    font-size: 5.5rem;
  }
  .gallery .thumbnail {
    width: 50%;
  }
}
/*Mindre Ändringar av textstorlek m.m. för skärmar 700-819px*/
@media all and (min-width: 700px) and (max-width: 819px) {
  section.start h1 {
    margin-top: 60vh;
  }
  section.start h1 span {
    font-size: 5.5rem;
  }
  section.sellingpoint h2 {
    font-size: 4rem;
  }
  .services article {
    max-width: 75%;
    margin: auto;
  }

  .gallery .thumbnail {
    width: 50%;
  }
  .gallery .thumbnail img {
    height: 45vh;
    width: 100%;
    object-fit: cover;
  }
  .style-one h2,
  .style-two h2 {
    font-size: 6.5rem;
  }
}

/*Här har jag dragit gränsen mellan små och stora skärmar och
ändrar menyns utseende för första gången.*/
@media all and (min-width: 820px) {
  header {
    padding:0;
    align-items: center;
  }
  .menu-button {
    display: none;
  }
  header h2 {
    flex-basis: 30%;
    max-width: 30%;
    font-size: 3rem;
  }
  header h2 span {
    font-size: 3rem;
  }

  nav {
    width: 65%;
    position: static;
    background-color: transparent;
    height: auto;
    margin-top: 1%;
  }

  nav a,
  nav a:visited {
    padding: .5%;
    margin: 0;
    font-size: .7rem;
    text-align: left;
    width: 30%;
  }

  nav a:hover {
    color: rgb(255, 255, 255);
  }

  section.start h1 {
    margin-top: 45vh;
    font-size: 3rem;
    line-height: 1;
  }
  section.start h1 span {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
  section.start {
    height: 100vh;
    background-image: url(../images/adorable-animal-breed-1805164-m.jpg);
    background-position-y: 50%;
  }

  section.sellingpoint {
    min-height: 100vh;
    height: auto;
  }

  section.sellingpoint h2 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }

  /*Visa tidigare dolda element d.v.s mer skryt på större skärmar.*/
  .sellingpoint q:nth-child(3n-1),
  .sellingpoint p:nth-child(3n) {
    visibility: visible;
    height: auto;
  }

  /*Öka kvalitet på bilderna i skryt-området*/
  div.left-col {
    background-image: url(../images/adorable-animal-blur-533118m.jpg);
  }
  div.right-col {
    background-image: url(../images/animal-canine-cute-1493110-m.jpg);
  }

  .style-one div,
  .style-two div {
    width: 35vw;
    height: 35vw;
  }

  .sellingpoint h2,
  .style-one h2,
  .style-two h2 {
    font-size: 6rem;
  }

  .services {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services .style-one {
    width: 100%;
  }

  .services {
    align-items: flex-start;
    justify-content: space-around;
  }
  .services article {
    flex-basis: 45%;
  }
  .gallery .thumbnail {
    width: 50%;
  }
  .gallery .thumbnail img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }
}


@media all and (min-width: 900px) {
  .style-one div,
  .style-two div,
  .style-contact div {
    width: 30vw;
    height: 30vw;
    background-color: rgb(205, 230, 245);
    border: solid 0.5rem rgb(205, 230, 245);
  }

  .style-one div {
    transform: rotateY(180deg);
    background-image: url(../images/animal-animal-photography-beagle-813467_sm.jpg);
  }
  .style-two div {
    background-image: url(../images/adorable-animals-belgian-malinois-1633522-sm.jpg);
  }
  .style-one h2,
  .style-two h2 {
    font-size: 7rem;
    line-height: 1;
  }

  .style-contact div {
    background-image: url(../images/animal-cane-corso-canine-52997-sm.jpg);
  }

  .gallery .thumbnail {
    width: 33%;
  }
  .gallery .thumbnail img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }
}

/*Vid denna storlek minskas bredden på sidans olika sektioner (bortsett från
 start och header) och skjuts åt sidan så att bakgrundsfärgen lyser igenom 
 för att ge sidan ett lite intressantare
 utseende. Här ändras även sidfoten till att visa innehållet i tre kolumner.*/
@media all and (min-width: 950px) {
  section.start {
    height: 110vh;
  }
  section.start h1 {
    margin-top: 50vh;
    font-size: 3rem;
    line-height: 1;
  }
  section.start h1 span {
    letter-spacing: 1.5rem;
    font-size: 6rem;
  }

  section.start {
    background-position-y: 50%;
  }

  section.style-one,
  section.style-two,
  section.style-contact,
  section.services,
  section.gallery {
    width: 75%;
  }

  section.style-two,
  section.style-contact,
  section.services {
    margin-left: 25%;
  }

  .style-one h2 .style-two h2 {
    font-size: 4rem;
  }

  .style-one div,
  .style-two div{
    width: 100%;
  }
  .style-one p,
  .style-two p,
  .style-one ul {
    width: 100%;
  }

  .gallery .thumbnail {
    width: 33%;
  }
  .gallery .thumbnail img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  footer {
    padding-top: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer section {
    width: 33%;
  }

  /*Ta bort border under sektionen*/
  footer section::after {
    border: none;
  }

  /*Visa border vid sidorna av mellanelementet*/
  footer section:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.95);
    border-right: 1px solid rgba(255, 255, 255, 0.95);
  }
  footer section:nth-child(2) span {
    padding: 1rem;
    font-size: 3rem;
  }

  footer section p {
    line-height: 2;
  }

  footer p {
    width: 95%;
    margin: auto;
  }

  footer p:last-child {
    margin: 5vh 0 10vh 0;
  }

  footer h2 {
    margin-top: 10vh;
  }
}

/*Vid denna brypunkt ändrar menyn utseende för sista gången och mycket av
sidans text ändras från en till flera kolumner.*/
@media  all and (min-width: 1200px) {
  section.start h1 {
    margin-top: 45vh;
    font-size: 3.5rem;
    line-height: 1;
  }
  section.start h1 span {
    letter-spacing: 1.2rem;
    font-size: 6rem;
  }

  section.start {
    height: 100vh;
    background-image: url(../images/adorable-animal-breed-1805164-lg.jpg);
    background-position-y: 50%;
  }

  nav a,
  nav a:visited {
    font-size: .8rem;
    max-width: 25%;
    padding: .5%;
  }

  nav a:hover,
  nav a:focus {
    color: rgb(255, 255, 255);
  }

  .gallery .thumbnail {
    width: 25%;
  }

  .style-one h2,
  .style-two h2 {
    font-size: 8rem;
  }

  .style-contact {
    height: 100vh;
  }

  .style-contact p{
    flex: .5;
    min-width: 50%;
    align-self: baseline;
  }

  .style-contact form {
    width: 90%;
  }
}

@media all and (min-width: 1300px) {
  section.start {
    height: 110vh;
    background-position-y: 50%;
  }

  section.start h1 {
    margin-top: 40vh;
  }
  section.start h1 span {
    font-size: 7rem;
  }
  
  section.style-one div,
  section.style-two div, 
  .services div,
  .gallery div {
    max-height: 400px;
  }
 
  section.style-one p,
  section.style-one ul{
    flex: .5;
    padding: 2%;
    align-self: baseline;
  }
  
  section.style-two p,
  section.style-two ul{
    flex: .5;
    padding: 2%;
    align-self: baseline;
  }

  .services article {
    flex: 1 1 30%;
  }
 
/*För skärmar över 1600px*/
}
@media all and (min-width: 1600px) {
  section.style-one,
  section.style-two {
    width: 70%;
  }
  section.style-one {
    margin-right: 30%;
  }
  section.style-two {
    margin-left: 30%;
  }

  #services,
  #gallery {
    width: 70%;
  }

  #services {
    margin-left: 30%;
  }

  #gallery .style-one {
    width: 70%;
    margin: 0;
  }

  #apply{
    margin:0;
    margin-left: 30%;
  }
}
